.fit__wrapper
  .mypage__title
    = @nickname
    sOut-fit
  .search__boxs
    = form_with(url: search_topp_path, local: true, method: :get) do |form|
      = form.text_field :keyword, placeholder: "topps category",  class: "search__box"
      = form.submit "serach", class: "search__btn"
    = form_with(url: search_bottom_path, local: true, method: :get) do |form|
      = form.text_field :keyword, placeholder: "bottoms category", class: "search__box"
      = form.submit "serach", class: "search__btn"
  .topps__container
    - @topp_images.each do |t_image|
      = link_to image_tag(t_image.image.to_s, class:"topps__container__image"),"/topps/#{t_image.id}", method: :get
  .bottoms__container
    - @bottom_images.each do |b_image|
      = link_to image_tag(b_image.image.to_s, class:"bottoms__container__image"),"/bottoms/#{b_image.id}", method: :get
    
  .registration__btns
    .registration__btns__topps
      = link_to "Topps-registration",new_topp_path
    .registration__btns__bottoms
      = link_to "Bottms-registration",new_bottom_path