.list__wrapper
  .mypage__title
    = @nickname
    sList
  .list__container
    .list__container__left
      .list__container__title
        topps
      .list__container__images
        - @topp_images.each do |t_image|
          = link_to image_tag(t_image.image.to_s, class:"list__container__image"),"/topps/#{t_image.id}", method: :get
    .list__container__right
      .list__container__title
        bottoms
      .list__container__images
        - @bottom_images.each do |b_image|
          = link_to image_tag(b_image.image.to_s, class:"list__container__image"),"/bottoms/#{b_image.id}", method: :get
  .registration__btns
    .registration__btns__topps
      = link_to "Topps-registration",new_topp_path
    .registration__btns__bottoms
      = link_to "Bottms-registration",new_bottom_path