.wrapper
  .mypage__title
    My-page
  %input{name:"search__box", type: "search"}/
  %input{name:"search__btn", type: "submit" ,value: "serach"}/
  .topps__container
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
  .bottoms__container
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
    = image_tag "yuusya_game.png", class: "topps__container__image"
    = image_tag "IMG_2510.JPG", class: "topps__container__image"
  .registration__btns
    .registration__btns__topps
      Topps-registration
    .registration__btns__bottoms
      Bottms-registration
    
