!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Kiawase
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    = favicon_link_tag('favicon.png')
  %body
    .header__bk
    .header
      .header__title
        = link_to "Ki-awase",root_path
      .header__btn
        -if user_signed_in?
          .header__btn__left
            = link_to "Out-fit",post_path(current_user)
          .header__btn__middle
            = link_to "List",list_show_post_path(current_user)
          .header__btn__right
            = link_to "Sign-out",destroy_user_session_path, method: :delete
        - else
          .header__btn__left
            = link_to "Sign-up",new_user_registration_path
          .header__btn__right
            = link_to "Sign-in",user_session_path
    = render 'layouts/flash'
    = yield
    %script{:src => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", :type => "text/javascript"}



    

