!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Kiawase
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => ".../path/to/slick.css", :rel => "stylesheet"}/
  %body
    .header__bk
    .header
      .header__title
        = link_to "Ki-awase",root_path
      .header__btn
        -if user_signed_in?
          .header__btn__left
            = link_to "My-page",post_path(current_user)
          .header__btn__right
            = link_to "Sign-out",destroy_user_session_path, method: :delete
        - else
          .header__btn__left
            = link_to "Sign-up",new_user_registration_path
          .header__btn__right
            = link_to "Sign-in",user_session_path
    = render 'layouts/flash'
    = yield
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => ".../path/to/slick.min.js"}

    

